extends layout

block content
  form#search(action="/search")
    input#value(type="text" value="")
    input(type="submit" value="Go")
  h1= title
  ol.songs
    each val, index in data.data
      li
        span.name= val.name
        span.artist= val.artist
        button.download(data-source= val) 下载
        button.copy(data-source= val) 复制歌词

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script.
    window.port = #{port}
    $('#search').submit(function(e){
      e.preventDefault()
      window.location.search="sth="+$('#value').val()
    })

    for (var i=0; i< document.getElementsByClassName('download').length; i++) {
      let ele = document.getElementsByClassName('download')[i]
      ele.addEventListener('click',function(e){
        download(e.target.dataset.source)
      })
    }

    for (var i=0; i< document.getElementsByClassName('copy').length; i++) {
      let ele = document.getElementsByClassName('copy')[i]
      ele.addEventListener('click',function(e){
        downLRC(e.target.dataset.source).then(res => {
          if (res.code !== 401) {
            const input = document.createElement('textarea');
            input.value = res.data
            document.body.appendChild(input);
            input.select();
            if (document.execCommand('copy')) {
              document.execCommand('copy');
              console.log('复制成功');
              window.alert('复制成功')
            }
            document.body.removeChild(input);
          } else {
            window.alert('没有歌词')
          }
        })
      })
    }

    function download(source) {
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": `http://localhost:${#{port}}/download`,
        "method": "POST",
        "headers": {
          "Upgrade-Insecure-Requests": "1",
          "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
          "Accept-Language": "zh-CN,zh;q=0.9",
          "Content-Type": "application/x-www-form-urlencoded",
          "Cache-Control": "no-cache",
        },
        "data": {
          source: source
        }
      }

      $.ajax(settings).done(function (response) {
        console.log(response);
        window.alert('下载成功')
      });
    }


    function downLRC(source) {
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": `http://localhost:${#{port}}/downLRC`,
        "method": "POST",
        "headers": {
          "Upgrade-Insecure-Requests": "1",
          "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
          "Accept-Language": "zh-CN,zh;q=0.9",
          "Content-Type": "application/x-www-form-urlencoded",
          "Cache-Control": "no-cache",
        },
        "data": {
          source: source
        }
      }
      return new Promise((resolve, reject) => {
        $.ajax(settings).done(function (response) {
          resolve(response);
        });
      })
    }