body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(4, 173, 240);
}

.songs {
  width: 100%;

  li {
    display: flex;
  }

  li:hover {
    background-color: #eee;
  }

  span {
    display: inline-block;
  }

  .number {
  }

  .name {
    width: 180px;
    flex: 0 0 180px;
  }

  .artist {
    width: 180px;
    flex: 0 0 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    flex: 0 0 80px;
    margin: 4px 10px;
  }
}